@model IEnumerable<MovilidadInteligenteUI.Models.Deposito>

@{
    ViewData["Title"] = "Tabla de Depositos";
}

<br />
<body>
    <br />
    <div class="container">
        <div class="row gutters-sm">
            <div class="card">
                <div class="card-body">
                    <h1>Tabla de Depositos</h1>
                    <p>
                        @**@ <a asp-action="Crear" class="btn btn-primary">Crear</a>
                    </p>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.idDeposito)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.idUsuario)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.monto)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.fechaDeposito)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.estado)
                                </th>
                                <th> Acción</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.idDeposito)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.idUsuario)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.monto)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.fechaDeposito)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.estado)
                                </td>
                                <td>
                                    @Html.ActionLink("Editar", "Update", new { id = item.idDeposito }) |
                                    @Html.ActionLink("Detalles", "GetUsuario", new { id = item.idDeposito }) |
                                    @Html.ActionLink("Borrar", "Borrar", new { id = item.idDeposito })

                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>