@model MovilidadInteligenteUI.Models.Unidad

@{
    ViewData["Title"] = "Borrar";
}
<br />
<body>
    <br />
    <div class="container">
        <div class="row gutters-sm">
            <div class="card">
                <div class="card-body">
                    <h1>Eliminar</h1>

                    <h3>Seguro que deseas eliminar?</h3>
                    <div>
                        <h4>Unidad</h4>
                        <hr />
                        <dl class="row">
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.idUnidad)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.idUnidad)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.ruta)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.ruta)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.monto)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.monto)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.descripcion)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.descripcion)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.placa)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.placa)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.estado)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.estado)
                            </dd>

                        </dl>
                        <div>
                            <a class="btn btn-primary" @Html.ActionLink("Borrar", "Delete", new {id = Model.idUnidad })</a>
                            <a asp-action="Unidades" class="btn btn-primary">Regresar</a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</body>