@model IEnumerable<MovilidadInteligenteUI.Models.Unidad>

@{
    ViewData["Title"] = "Agendar Viaje";
    Layout = "~/Views/Shared/_LoginPartialCliente.cshtml";
}

<br />
<body>
    <br />
    <div class="container">
        <div class="card">
            <div class="card-body">
                <h4>Destinos Disponibles</h4>
                <hr />

               
                    <table id="example" class="table">
                        <thead>
                            <tr>

                                <th>
                                    @Html.DisplayNameFor(model => model.ruta)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.monto)
                                </th>
                                <th> Acción</th>
                            </tr>
                        </thead>
                        <tbody>
                            <form method="post">
                                @foreach (var item in Model)
                                {
                                    <tr>

                                        <td>
                                            @Html.DisplayFor(modelItem => item.ruta)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.monto)
                                        </td>
                                        <td>
                                        @Html.ActionLink("Elegir", "CrearPago", "Pago", new { id = item.idUnidad, monto = item.monto })
                                        </td>
                                    </tr>
                                }
                            </form>
                        </tbody>
                    </table>
                
                    <div>
                        <a class="btn btn-primary" @Html.ActionLink("Regresar", "Perfil", "Usuario")</a>
                    </div>
            </div>
        </div>
    </div>
    <div>

    </div>
</body>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
