@model IEnumerable<MovilidadInteligenteUI.Models.Unidad>

@{
    ViewData["Title"] = "Unidades";
}
<br />
<body>
    <br />
    <div class="container">
        <div class="row gutters-sm">
            <div class="card">
                <div class="card-body">
                    <h1>View</h1>

                    <p>
                        <a asp-action="Crear">Crear</a>
                    </p>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.idUnidad)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.descripcion)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.placa)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.estado)
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.idUnidad)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.descripcion)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.placa)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.estado)
                                    </td>
                                    <td>
                                        @Html.ActionLink("Update", "Editar", new {id=item.idUnidad }) |
                                        @Html.ActionLink("GetUnidad", "Detalles", new { id = item.idUnidad }) |
                                        @Html.ActionLink("Borrar", "Delete", new { id = item.idUnidad })
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    </div>
</div>
</div>
</div>
</body>