@model MovilidadInteligenteUI.Models.Login
@{
    Layout = null;
}

<style>
html, body { background-image: url('https://cdn.pixabay.com/photo/2019/09/26/07/57/bus-shelters-4505337_960_720.png'); background-size: cover; background-repeat: no-repeat; height: 100%; font-family: 'Numans', sans-serif; }

    .form-signin {
        margin: 0 auto;
        max-width: 330px;
        padding: 15px;
    }
</style>
<div class="container-fluid">
    @using (Html.BeginForm("Login", "Login", FormMethod.Post, new { @class = "form-signin", role = "form" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <h2 class="form-signin-heading">Ingrese los Datos</h2>
        <div class="form-group form-header input-group-lg">
            @Html.TextBoxFor(m => m.Correo, new { @class = "form-control", placeholder = "Usuario", tabindex = 1 })
            @Html.ValidationMessageFor(m => m.Correo, "", new { @class = "text-danger" })
        </div>
        <div class="form-group form-header input-group-lg">
            @Html.PasswordFor(m => m.Clave, new { @class = "form-control", placeholder = "Contraseña", tabindex = 2 })
            @Html.ValidationMessageFor(m => m.Clave, "", new { @class = "text-danger" })
        </div>
        <div>
            <a asp-controller="Login" asp-action="Registrar">Registrarse</a>
        </div>
        <button type="submit" id="LoginButton" class="btn btn-lg btn-success btn-block" tabindex="4">Ingresar</button>

    }
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
</div>
<!-- /.container-fluid -->
