@model MovilidadInteligenteUI.Models.Usuario

@{
    ViewData["Title"] = "Actualizar Usuario";
}

<br />
<body>
    <br />
    <div class="container">
        <div class="card">
            <div class="card-body">

                <h4>Actualizar Usuario</h4>
                <hr />
                <div class="row">
                    <div class="col-md-4">
                        <form method="post">
                            <div class="form-group">
                                <label asp-for="idUsuario"></label>
                                <input class="form-control" asp-for="idUsuario" readonly />
                            </div>
                            <div class="form-group">
                                <label asp-for="nombre"></label>
                                <input class="form-control" asp-for="nombre" />
                            </div>
                            <div class="form-group">
                                <label asp-for="apellido1"></label>
                                <input class="form-control" asp-for="apellido1" />
                            </div>
                            <div class="form-group">
                                <label asp-for="apellido2"></label>
                                <input class="form-control" asp-for="apellido2" />
                            </div>
                            <div class="form-group">
                                <label asp-for="correo"></label>
                                <input class="form-control" asp-for="correo" />
                            </div>
                            <div class="form-group">
                                <label asp-for="clave"></label>
                                <input class="form-control" asp-for="clave" />
                            </div>
                            <div class="form-group">
                                <label asp-for="telefono"></label>
                                <input class="form-control" asp-for="telefono" />
                            </div>
                            <div class="form-group">
                                <label asp-for="saldo"></label>
                                <input class="form-control" asp-for="saldo" />
                            </div>
                            <div class="form-group">
                                <label asp-for="fechaCreacion"></label>
                                <input class="form-control" asp-for="fechaCreacion" />
                            </div>
                            <div class="form-group">
                                <label asp-for="rol" class="control-label"></label>
                                <select asp-for="rol" class="form-control" id="StudentGender" name="rol">

                                    <option>Administrador</option>
                                    <option>Cliente</option>
                                </select>
                                <span asp-validation-for="rol" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="estado"></label>
                                <input class="form-check-label" asp-for="estado" />

                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary">Actualizar</button>
                                <a asp-action="Usuarios" class="btn btn-primary">Regresar</a>
                            </div>
                        </form>

                        @if (ViewBag.Result == "Success")
                        {
                            <h2>Reservation</h2>
                            <table class="table table-sm table-striped table-bordered m-2">
                                <thead>
                                    <tr>
                                        <th>Identificacion</th>
                                        <th>Nombre</th>
                                        <th>Apellido 1</th>
                                        <th>Apellido 2</th>
                                        <th>Identificacion</th>
                                        <th>Correo</th>
                                        <th>Clave</th>
                                        <th>Telefono</th>
                                        <th>Saldo</th>
                                        <th>Fecha Creacion</th>
                                        <th>Rol</th>
                                        <th>Estado</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>@Model.idUsuario</td>
                                        <td>@Model.nombre</td>
                                        <td>@Model.apellido1</td>
                                        <td>@Model.apellido2</td>
                                        <td>@Model.correo</td>
                                        <td>@Model.clave</td>
                                        <td>@Model.telefono</td>
                                        <td>@Model.saldo</td>
                                        <td>@Model.fechaCreacion</td>
                                        <td>@Model.rol</td>
                                        <td>@Model.estado</td>
                                    </tr>
                                </tbody>
                            </table>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
</body>
               
