@model IEnumerable<MovilidadInteligenteUI.Models.Usuario>

@{
    ViewData["Title"] = "Tabla de Usuarios";
}

<br />
<body>
    <br />
    <div class="container">
        <div class="row gutters-sm">
            <div class="card">
                <div class="card-body">
                    <h1>Tabla de Usuarios</h1>
                    <p>
                        <a asp-action="Crear" class="btn btn-primary">Crear</a>
                    </p>
                    <table class="table">
                        <thead>

                            <tr>

                                <th>
                                    @Html.DisplayNameFor(model => model.idUsuario)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.nombre)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.apellido1)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.apellido2)
                                </th>
                                @*<th>
                                    @Html.DisplayNameFor(model => model.correo)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.clave)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.telefono)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.saldo)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.fechaCreacion)
                                </th>*@
                                <th>
                                    @Html.DisplayNameFor(model => model.rol)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.estado)
                                </th>
                                <th> Acción</th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.idUsuario)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.nombre)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.apellido1)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.apellido2)
                                    </td>
                                    @*<td>
                                        @Html.DisplayFor(modelItem => item.correo)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.clave)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.telefono)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.saldo)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.fechaCreacion)
                                    </td>*@
                                    <td>
                                        @Html.DisplayFor(modelItem => item.rol)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.estado)
                                    </td>
                                    <td>
                                        @Html.ActionLink("Editar", "Update", new { id = item.idUsuario }) |
                                        @Html.ActionLink("Detalles", "GetUsuario", new { id = item.idUsuario }) |
                                        @Html.ActionLink("Borrar", "Borrar", new { id = item.idUsuario })

                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>
